<div class="brushes-page p-3">
    <form [formGroup]="brushesForm">
        <div class="d-flex justify-content-around">
            <div class="form-group w-25">
                <label for="fullName">Full Name:</label>
                <input type="text" class="form-control" id="fullName" formControlName="fullName" placeholder="Full Name">
            </div>
            <div class="form-group w-25">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" formControlName="emailId" placeholder="Enter email">
            </div>
        </div>

        <div class="d-flex justify-content-around">
            <div class="form-group w-25">
                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber" pattern="[0-9]{10}">
            </div>
            <div class="form-group w-25">
                <label for="birthday">user Date of Birth:</label><br>
                <input type="date" id="birthday" name="birthday" formControlName="dateOfBirth">
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <div class="form-group w-25">
                <label for="country">Country:</label>
                <select class="form-control" id="country" formControlName="country">
                    <option>India</option>
                    <option>China</option>
                    <option>Pakistan</option>
                    <option>Nepal</option>
                    <option>America</option>
                </select>
            </div>
            <div class="form-group w-25"></div>

        </div>
        <button type="submit" class="btn btn-primary" (click)="saveData()">Submit</button>

    </form>
</div>